html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 15px;
    vertical-align: baseline;
}

body, input 
{
    font-family: Arial;
}

/*-------------------------*/
h1, .h1 
{
    font-size: 180%;
    color: white;

    text-align: center;
}

h2, .h2
{
	font-size: 140% ;
	color: #EEEEEE;

	text-align: center;
}

h3, .h3
{
    font-size: 130%;
    color: #0074cc;

    margin: 10px 0;
}

h4, .h4
{
    font-size: 100% ;
}

p 
{
    color: #353535;
}

li
{
    margin-left: 1.5% ;
}

/*-------------------------*/
body {
    width: 90% ;
    max-width: 1400px ;

    margin: auto;
}

header 
{
    background-color: #0074cc;
    padding: 3%;

    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}

article {

    padding: 1.5% 0;

}

article div {
    padding: 10px;
    margin: 0;
}

nav 
{
	color: white;

	padding-bottom: 0;
	margin-bottom: 0;

	padding-top: 10px ;
	margin-top: 10px ;
	border-top: 1px solid white ;
}

nav ul
{
	list-style-type: none ;
	text-align: center;

}

nav li 
{
	display: inline-block;
    margin: 0;
}

nav li:not(:last-child):after
{
	content: ' - ' ;
}

nav a
{
	font-size: 110% ;
	text-decoration: none ;
}

nav a, nav a:visited
{
	color: white;
}

nav a:hover
{
	color: #FFC840;
}

/*-------------------------*/

strong
{
    font-weight: bold ;
}

em
{
    font-style: italic;
}

.u
{
    text-decoration: underline ;
}

/*-------------------------*/

.button
{
    display: inline-block; 
    text-decoration: none ;
}

input, .button
{
    border: 1px solid #7f8082;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    padding: 5px;
    color: #7f8082;
}

input[type="button"], input[type="submit"], .button
{
    background-color: white;
    border: 1px solid #7f8082;

    color: #7f8082;
    font-size: 100%;
}

input[type="button"]:hover, input[type="submit"]:hover, .button:hover
{
    color: white;
    background-color: #7f8082;
}

input[type="button"].alert, input[type="submit"].alert
{
    color: #E13C3F;
    border-color: #E13C3F;
}

input[type="button"].alert:hover, input[type="submit"].alert:hover
{
    color: white;
    background-color: #E13C3F;
}

input.h1, input.h2
{
    max-width: 90%;
    border: none ;

    color: #0074cc ;
    text-align: left ;
}

textarea
{
    max-width: 90%;
}

/*-------------------------*/
.right {
    display: block;
    float: right;
}

.centered {
    display: block;
    margin: auto;

    text-align: center;
}

/*-------------------------*/

#file_list dl
{
    padding: 5px;
}

#file_list dd
{
    border-bottom: 2px solid #AAA ;
    font-size: 120% ;
}

#file_list dt > ul > li
{
    border-left: 2px solid #AAA ;
    padding: 7px 7px 0 7px;
    margin-left: 1% ;

    font-size: 110% ;
    list-style-type: none ;
}

/*-------------------------*/

#detailed div
{
    border-top: 2px solid #AAA ;
    border-bottom: 2px solid #AAA ;
}

#detailed p, #detailed ul
{
    margin-bottom: 10px ;
}

#detailed p
{
    text-align: justify; 
}

#detailed p .title
{
    font-size: 110% ;
}

#detailed li
{
    margin: 0 ;
    list-style-type: none;
}

/*-------------------------*/
/*-------------------------*/

@media screen and (min-width: 800px) {
	
    header
    {
         padding-bottom: 40px ;
    }

	header div
	{
		float: left ;
	}

	h1, h2
	{
		text-align: left ;
	}

    h1, .h1 
    {
        font-size: 260%;
    }

    h2, .h2
    {
        font-size: 160% ;
    }

	nav
	{
		text-align: right ;

		padding: 1.5% ;
		margin: 0.75%;

		border: none ;
	}

	nav ul
	{
		text-align: right ;
	}

    #detailed ul
    {
        float: right ;
    }

    #detailed p
    {
        width: 60% ;
        padding-right: 10% ;
    }

    #detailed li
    {
        border-left: 2px solid #AAA ;
        padding-left: 5%;
    }

    #detailed input, #detailed .button
    {
        clear: both;
    }

}